# Assemble

This notebook loads and assembles all your basic data sources, including tabulor and geospatial data.

The final output is two dataframes:

- UNIVERSE
- SALES

The SALES dataframe represents transactions or parcels; these are ownership transfers with prices, dates, and metadata.  
The UNIVERSE dataframe represents the parcels themselves (land and buildings, and their associated characteristics).

These will be packaged together in a handy data structure called a `SalesUniversePair`, or `sup` for short. `openavmkit` provides many handy functions that carefully perform operations on `sup`s without mixing up their fields.

The key thing to understand is that the **Assemble** notebook outputs a `sup` that represents *factual assertions* about the world. In later notebooks, we will have to add assumptions, opinions, and educated guesses, but we first will establish the firmest facts we can in this notebook.

You can think of the two dataframes in the `sup` as answering the following questions:

- UNIVERSE:
  - Where is each parcel located in space, and what is its shape?
  - What are the *current* characteristics of each parcel?
    - Which parcels have buildings and which are vacant lots?
    - How big is each parcel?
    - What is the age/size/quality/condition/etc of each building?
- SALES:
  - Which parcels have sold?
  - What prices did they sell for?
  - What dates did they sell on?
  - Which sales were valid?
  - What characteristics were different *at the time of sale* from how the parcel is now?

In [183]:
# Change these as desired

# The slug of the locality you are currently working on
locality = "us-pa-philadelphia"

# Which cloud service to look for data in (only used for a new locality, ignored otherwise)
bootstrap_cloud = "azure"

# Whether to print out a lot of stuff (can help with debugging) or stay mostly quiet
verbose = True

# Clear previous state for this notebook and start fresh
clear_checkpoints = True

# 1. Basic setup

In [184]:
import init_notebooks
init_notebooks.setup_environment()

Environment setup completed.

In [185]:
# import OpenAVMkit:
from openavmkit.pipeline import ( 
    init_notebook,
    from_checkpoint,
    delete_checkpoints,
    examine_df,
    examine_df_in_ridiculous_detail,
    examine_sup,
    examine_sup_in_ridiculous_detail,
    cloud_sync,
    load_settings,
    load_dataframes,
    process_data,
    process_sales,
    enrich_sup_streets,
    tag_model_groups_sup,
    write_notebook_output_sup
)

In [186]:
init_notebook(locality)

locality = us-ky-louisville
base path = C:\Users\jacks\Documents\Non-Game Stuff\Programming\openavmkit\notebooks\pipeline
current path = C:\Users\jacks\Documents\Non-Game Stuff\Programming\openavmkit\notebooks\pipeline\data\us-ky-louisville

In [187]:
if clear_checkpoints:
    delete_checkpoints("1-assemble")

# 2. Sync with Cloud
- If you have configured cloud storage, syncs with your remote storage
- Reconciles your local input files with the versions on the remote server
- Pulls down whatever is newer from the remote server
- Uploads whatever is newer from your local machine

In [188]:
cloud_sync(locality, verbose=True, bootstrap=bootstrap_cloud)

In [189]:
settings = load_settings()

# 3. Load & process data

In [190]:
# load all of our initial dataframes, but don't do anything with them just yet
dataframes = from_checkpoint("1-assemble-01-load_dataframes", load_dataframes,
    {
        "settings":load_settings(),
        "verbose":verbose
    }
)

Loading "in/geoparcels.parquet"...
Loading "in/universe.parquet"...

C:\Users\jacks\Documents\Non-Game Stuff\Programming\openavmkit\venv\Lib\site-packages\geopandas\geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

Loading "in/sales.parquet"...
Valid sales: 238422 out of 238422 total
Loading "in/universe.parquet"...

C:\Users\jacks\Documents\Non-Game Stuff\Programming\openavmkit\venv\Lib\site-packages\geopandas\geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

In [191]:
dataframes["sales"]

,key,sale_price,sale_type,sale_date,key_sale,valid_sale,sale_year,sale_month,sale_day,sale_quarter,sale_year_month,sale_year_quarter,sale_age_days
0,000100040000,0.0,<NA>,2006-07-13,000100040000---2006-07-13,True,2006,7,13,3,2006-07,2006Q3,6747
1,000100070000,5000000.0,<NA>,2000-02-01,000100070000---2000-02-01,True,2000,2,1,1,2000-02,2000Q1,9101
2,000100090000,5000000.0,<NA>,2000-02-01,000100090000---2000-02-01,True,2000,2,1,1,2000-02,2000Q1,9101
3,000100140000,5000000.0,<NA>,2006-01-31,000100140000---2006-01-31,True,2006,1,31,1,2006-01,2006Q1,6910
4,000100150000,5000000.0,<NA>,2006-01-31,000100150000---2006-01-31,True,2006,1,31,1,2006-01,2006Q1,6910
...,...,...,...,...,...,...,...,...,...,...,...,...,...
237829,W00701810000,729500.0,Homeowner to Investor,2020-11-07,W00701810000---2020-11-07,True,2020,11,7,4,2020-11,2020Q4,1516
237830,W00701830000,300000.0,<NA>,2014-12-01,W00701830000---2014-12-01,True,2014,12,1,4,2014-12,2014Q4,3684
237831,W00701840000,1800000.0,<NA>,2017-06-11,W00701840000---2017-06-11,True,2017,6,11,2,2017-06,2017Q2,2761
237832,W00701850000,2500000.0,<NA>,2017-06-11,W00701850000---2017-06-11,True,2017,6,11,2,2017-06,2017Q2,2761
237833,W00701860000,700000.0,<NA>,2023-04-08,W00701860000---2023-04-08,True,2023,4,8,2,2023-04,2023Q2,634

In [192]:
dataframes

{'geo_parcels':                  key                                           geometry
 0       000100020000  POLYGON ((1248200.995 319417.121, 1248397.047 ...
 1       000100040000  POLYGON ((1250455.369 319064.562, 1250477.392 ...
 2       000100050000  POLYGON ((1244210.031 320000, 1244209.031 3199...
 3       000100060000  POLYGON ((1250444.955 317331.51, 1250673.332 3...
 4       000100070000  POLYGON ((1245713.096 320044.013, 1245732.005 ...
 ...              ...                                                ...
 284424  W00701830000  POLYGON ((1243826.468 304645.882, 1243846.558 ...
 284425  W00701840000  POLYGON ((1242310.565 302176.502, 1241848.507 ...
 284426  W00701850000  POLYGON ((1242328.093 302148.3, 1242306.132 30...
 284427  W00701860000  POLYGON ((1242039.511 300353.589, 1241849.53 3...
 284428          <NA>  POLYGON ((1222214.656 238748.78, 1222184.905 2...

 [284429 rows x 2 columns],
 'universe':         bldg_ac                             property_owner_address  \
 0            No  7321 NEW LA GRANGE RD ST E 220, LOUISVILLE, KY...
 1       Unknown                 PO BOX 68, PROSPECT, KY 40059-0068
 2       Unknown      527 W JEFFERSON ST, LOUISVILLE, KY 40202-2814
 3           Yes        13415 W HIGHWAY 42, PROSPECT, KY 40059-8326
 4           Yes  7321 NEW LA GRANGE RD ST E 220, LOUISVILLE, KY...
 ...         ...                                                ...
 290068  Unknown      5900 US HIGHWAY 42, LOUISVILLE, KY 40241-5806
 290069  Unknown  427 W MUHAMMAD ALI BLVD STE 801, LOUISVILLE, K...
 290070  Unknown  427 W MUHAMMAD ALI BLVD STE 801, LOUISVILLE, K...
 290071      Yes  500 W JEFFERSON ST STE 1 510, LOUISVILLE, KY 4...
 290072      Yes      11600 OWL CREEK LN, LOUISVILLE, KY 40223-2343

                                     zoning  bldg_area_finished_sqft  \
 0                                     <NA>                    208.0
 1                                     <NA>                     <NA>
 2       Residential - R4-RES SINGLE FAMILY                     <NA>
 3       Residential - R4-RES SINGLE FAMILY                    458.0
 4       Residential - R4-RES SINGLE FAMILY                    843.0
 ...                                    ...                      ...
 290068  Residential - R1-RES SINGLE FAMILY                     <NA>
 290069                                <NA>                     <NA>
 290070  Residential - R1-RES SINGLE FAMILY                     <NA>
 290071  Residential - R1-RES SINGLE FAMILY                    201.0
 290072  Residential - R1-RES SINGLE FAMILY                    124.0

         bldg_condition_num  assr_impr_value  bldg_units  bldg_type  \
 0                      0.0         214560.0        <NA>  Structure
 1                      0.0              0.0        <NA>       Land
 2                      0.0         258710.0        <NA>  Structure
 3                      0.0         638470.0        <NA>  Structure
 4                      0.0        1621180.0         6.0  Structure
 ...                    ...              ...         ...        ...
 290068                 0.0              0.0        <NA>       Land
 290069                 0.0          38890.0        <NA>  Structure
 290070                 0.0              0.0        <NA>       Land
 290071                 0.0         181340.0         3.0  Structure
 290072                 0.0          65770.0        <NA>  Structure

                  key neighborhood  ...  assr_market_value bldg_condition_txt  \
 0       000100020000     PROSPECT  ...           372960.0               <NA>
 1       000100040000         <NA>  ...            76230.0               <NA>
 2       000100050000         <NA>  ...           258710.0               <NA>
 3       000100060000         <NA>  ...          1028070.0               <NA>
 4       000100070000     PROSPECT  ...          3331300.0               <NA>
 ...              ...          ...  ...                ...                ...
 290068  W00701810000         <NA>  ...           729500.0               <NA>
 290069  W00701830000         <NA>  ...           316960.0               <NA>
 290070  W00701840000         <NA>  ...          1878330.0               <NA>
 290071  W00701850000         <NA>  ...          3119850.0               <NA>
 290072  W00701860000         <NA>  ...           700000.0               <NA>

         bldg_effective_year_built bldg_stories  \
 0                          1930.0         <NA>
 1                            <NA>         <NA>
 2                            <NA>         <NA>
 3                          1952.0         <NA>
 4                          1950.0         <NA>
 ...                           ...          ...
 290068                       <NA>         <NA>
 290069                       <NA>         <NA>
 290070                       <NA>         <NA>
 290071                     1905.0         <NA>
 290072                     1905.0         <NA>

                               property_owner  bldg_rooms_bath_full  \
 0        WALLACE HENRY B & WALLACE CARLA F &                   1.0
 1                            Henry B Wallace                  <NA>
 2       LOUISVILLE/JEFFERSON COUNTY METRO GO                  <NA>
 3                    MORTON JR & ANNE T BOYD                   6.0
 4        WALLACE HENRY B & WALLACE CARLA F &                   7.0
 ...                                      ...                   ...
 290068                          SCARLETT LLC                  <NA>
 290069  HARRODS CREEK 2014 INVESTMENT PARTNE                  <NA>
 290070            WATERSHED CONSERVATION LLC                  <NA>
 290071              JEFFERSON LAND TRUST THE                   1.0
 290072                        4901 AVISH LLC                   4.0

        land_area_acres                  land_class  \
 0             2.109683  Agricultural With Dwelling
 1             6.731805    Agricultural Vacant Land
 2            78.813639     Exempt Metro Government
 3            16.680654       Res 1 Family Dwelling
 4            78.497098  Agricultural With Dwelling
 ...                ...                         ...
 290068        5.139053             Res Vacant Land
 290069        1.284831              Com Restaurant
 290070      102.614053             Res Vacant Land
 290071       38.532944       Res 1 Family Dwelling
 290072        5.082604       Res 1 Family Dwelling

                                                  geometry  land_area_sqft
 0       POLYGON ((-85.61807 38.36913, -85.61739 38.369...    91897.792445
 1       POLYGON ((-85.61019 38.36825, -85.61011 38.367...    293237.43797
 2       POLYGON ((-85.63202 38.37057, -85.63202 38.370...  3433122.098601
 3       POLYGON ((-85.61014 38.36349, -85.60934 38.363...   726609.273178
 4       POLYGON ((-85.62678 38.37075, -85.62672 38.370...  3419333.581885
 ...                                                   ...             ...
 290068  POLYGON ((-85.63098 38.32632, -85.63105 38.326...   223857.134887
 290069  POLYGON ((-85.63256 38.32839, -85.63248 38.327...    55967.217434
 290070  POLYGON ((-85.63771 38.32155, -85.63929 38.320...  4469868.129397
 290071  POLYGON ((-85.63765 38.32147, -85.63772 38.321...   1678495.05018
 290072  POLYGON ((-85.63856 38.31653, -85.63922 38.316...   221398.221358

 [282400 rows x 22 columns],
 'sales':                  key  sale_price              sale_type  sale_date  \
 0       000100040000         0.0                   <NA> 2006-07-13
 1       000100070000   5000000.0                   <NA> 2000-02-01
 2       000100090000   5000000.0                   <NA> 2000-02-01
 3       000100140000   5000000.0                   <NA> 2006-01-31
 4       000100150000   5000000.0                   <NA> 2006-01-31
 ...              ...         ...                    ...        ...
 237829  W00701810000    729500.0  Homeowner to Investor 2020-11-07
 237830  W00701830000    300000.0                   <NA> 2014-12-01
 237831  W00701840000   1800000.0                   <NA> 2017-06-11
 237832  W00701850000   2500000.0                   <NA> 2017-06-11
 237833  W00701860000    700000.0                   <NA> 2023-04-08

                          key_sale  valid_sale  sale_year  sale_month  \
 0       000100040000---2006-07-13        True       2006           7
 1       000100070000---2000-02-01        True       2000           2
 2       000100090000---2000-02-01        True       2000           2
 3       000100140000---2006-01-31        True       2006           1
 4       000100150000---2006-01-31        True       2006           1
 ...                           ...         ...        ...         ...
 237829  W00701810000---2020-11-07        True       2020          11
 237830  W00701830000---2014-12-01        True       2014          12
 237831  W00701840000---2017-06-11        True       2017           6
 237832  W00701850000---2017-06-11        True       2017           6
 237833  W00701860000---2023-04-08        True       2023           4

         sale_day  sale_quarter sale_year_month sale_year_quarter  \
 0             13             3         2006-07            2006Q3
 1              1             1         2000-02            2000Q1
 2              1             1         2000-02            2000Q1
 3             31             1         2006-01            2006Q1
 4             31             1         2006-01            2006Q1
 ...          ...           ...             ...               ...
 237829         7             4         2020-11            2020Q4
 237830         1             4         2014-12            2014Q4
 237831        11             2         2017-06            2017Q2
 237832        11             2         2017-06            2017Q2
 237833         8             2         2023-04            2023Q2

         sale_age_days
 0                6747
 1                9101
 2                9101
 3                6910
 4                6910
 ...               ...
 237829           1516
 237830           3684
 237831           2761
 237832           2761
 237833            634

 [237834 rows x 13 columns],
 'vacant_sales':                  key property_type  \
 0       000100020000     Structure
 1       000100040000          Land
 2       000100050000     Structure
 3       000100060000     Structure
 4       000100070000     Structure
 ...              ...           ...
 290068  W00701810000          Land
 290069  W00701830000     Structure
 290070  W00701840000          Land
 290071  W00701850000     Structure
 290072  W00701860000     Structure

                                                  geometry  vacant_sale
 0       POLYGON ((-85.61807 38.36913, -85.61739 38.369...        False
 1       POLYGON ((-85.61019 38.36825, -85.61011 38.367...         True
 2       POLYGON ((-85.63202 38.37057, -85.63202 38.370...        False
 3       POLYGON ((-85.61014 38.36349, -85.60934 38.363...        False
 4       POLYGON ((-85.62678 38.37075, -85.62672 38.370...        False
 ...                                                   ...          ...
 290068  POLYGON ((-85.63098 38.32632, -85.63105 38.326...         True
 290069  POLYGON ((-85.63256 38.32839, -85.63248 38.327...        False
 290070  POLYGON ((-85.63771 38.32155, -85.63929 38.320...         True
 290071  POLYGON ((-85.63765 38.32147, -85.63772 38.321...        False
 290072  POLYGON ((-85.63856 38.31653, -85.63922 38.316...        False

 [282400 rows x 4 columns]}

In [193]:
dataframes["vacant_sales"]

,key,property_type,geometry,vacant_sale
0,000100020000,Structure,"POLYGON ((-85.61807 38.36913, -85.61739 38.369...",False
1,000100040000,Land,"POLYGON ((-85.61019 38.36825, -85.61011 38.367...",True
2,000100050000,Structure,"POLYGON ((-85.63202 38.37057, -85.63202 38.370...",False
3,000100060000,Structure,"POLYGON ((-85.61014 38.36349, -85.60934 38.363...",False
4,000100070000,Structure,"POLYGON ((-85.62678 38.37075, -85.62672 38.370...",False
...,...,...,...,...
290068,W00701810000,Land,"POLYGON ((-85.63098 38.32632, -85.63105 38.326...",True
290069,W00701830000,Structure,"POLYGON ((-85.63256 38.32839, -85.63248 38.327...",False
290070,W00701840000,Land,"POLYGON ((-85.63771 38.32155, -85.63929 38.320...",True
290071,W00701850000,Structure,"POLYGON ((-85.63765 38.32147, -85.63772 38.321...",False
290072,W00701860000,Structure,"POLYGON ((-85.63856 38.31653, -85.63922 38.316...",False

In [194]:
# assemble our data
sales_univ_pair = from_checkpoint("1-assemble-02-process_data", process_data,
    {
        "dataframes":dataframes, 
        "settings":load_settings(), 
        "verbose":verbose
    }
)

Valid sales: 237834 (100.0% of 237834 total)
Enriching data...
Performing spatial joins...
Using "key" to merge shapefiles onto df
Performing basic geometric enrichment...
--> added latitude/longitude...(12.08s)
--> calculated GIS area of each parcel...(0.08s)

C:\Users\jacks\Documents\Non-Game Stuff\Programming\openavmkit\openavmkit\data.py:2766: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  gdf["land_area_sqft"] = gdf["land_area_sqft"].combine_first(
C:\Users\jacks\Documents\Non-Game Stuff\Programming\openavmkit\openavmkit\data.py:2770: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  gdf["land_area_sqft"].combine_first(gdf["land_area_gis_sqft"])
C:\Users\jacks\Documents\Non-Game Stuff\Programming\openavmkit\openavmkit\data.py:2772: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[4.36635172e+05 1.57237205e+02 1.38253992e+03 4.64052408e+05
 1.24246859e+04 1.75888366e+04 1.45379423e+04 3.22748165e+03
 1.34470404e+04 8.05322608e+03 9.01368305e+03 3.92209829e+03
 6.06836251e+03 8.59676850e+03 4.49311436e+03 7.94569813e+04
 2.06818085e+04]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  gdf.loc[

--> calculated parcel rectangularity...(10.82s)
--> calculated parcel aspect ratios...(2.42s)
--> identifying irregular parcels...
----> simplified geometry...(4.33s)
----> identified triangular parcels...(126.74s)
----> identified complex geometry...(6.63s)
----> identified elongated parcels...(0.00s)
----> finished up...(0.19s)
--> identified irregular parcels (total)...(137.89s)
--> calculated polar coordinates...(6.15s)
Enriching with Census data...
Enriching with OpenStreetMap data...
Performing reference table joins...

In [195]:
# calculate street frontages
sales_univ_pair = from_checkpoint("1-assemble-03-enrich_streets", enrich_sup_streets,
    {
        "sup": sales_univ_pair,
        "settings":load_settings(), 
        "verbose":verbose
    }
)

--> found streets in in/osm/streets.parquet, loading from disk!

# 4. Inspect results

## 4.1 Examine

- Run the next cell and look at the printed out results.
- Note the "Non-zero" and "Non-null" columns in particular and make sure they're what you expect
- This view is for a quick glance to get a good idea of what all your data is

In [196]:
examine_sup(sales_univ_pair, load_settings())

## 4.2 Examine in ridiculous detail

- You've looked, now LOOK AGAIN. This cell will run `describe()` for each numeric field and `value_counts()` for each categorical field.
- Use this info to decide which variables are useful/useless
- Consult this readout when you build your modeling group filters

In [197]:
examine_sup_in_ridiculous_detail(sales_univ_pair, load_settings())

EXAMINING UNIVERSE...

            FIELD                 TYPE     NON-ZERO    %    NON-NULL    %                    UNIQUE
============================== ========== ========== ===== ========== ===== ========================================
             LAND
============================== ========== ========== ===== ========== ===== ========================================
------------------------------ ---------- ---------- ----- ---------- ----- ----------------------------------------
           NUMERIC
------------------------------ ---------- ---------- ----- ---------- ----- ----------------------------------------
assr_land_value                 Float64      277,198   98%    282,400  100%
DESCRIBE --> count         282400.0
mean      78705.466873
std      420247.428356
min                0.0
25%            19080.0
50%            39480.0
75%            63600.0
max        109291184.0
Name: assr_land_value, dtype: Float64


depth_ft_1                      float64      268,482   95%    282,400  100%
DESCRIBE --> count    282400.000000
mean        143.107921
std        1482.934022
min           0.000000
25%          55.117755
50%          69.541340
75%          92.576437
max      266424.661093
Name: depth_ft_1, dtype: float64


depth_ft_2                      float64       97,037   34%    282,400  100%
DESCRIBE --> count    2.824000e+05
mean     1.362295e+02
std      4.329352e+03
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      5.896497e+01
max      1.704814e+06
Name: depth_ft_2, dtype: float64


depth_ft_3                      float64       18,962    7%    282,400  100%
DESCRIBE --> count    282400.000000
mean         65.424534
std        2349.593118
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max      743402.509639
Name: depth_ft_3, dtype: float64


depth_ft_4                      float64        7,204    3%    282,400  100%
DESCRIBE --> count    282400.000000
mean         39.990515
std        2127.727703
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max      907843.026066
Name: depth_ft_4, dtype: float64


dist_to_road_ft_1               float64      260,972   92%    282,400  100%
DESCRIBE --> count    282400.000000
mean         26.854785
std          11.856056
min           0.000000
25%          23.301634
50%          28.237437
75%          31.123564
max          82.013290
Name: dist_to_road_ft_1, dtype: float64


dist_to_road_ft_2               float64       80,585   29%    282,400  100%
DESCRIBE --> count    282400.000000
mean          6.513377
std          12.912327
min           0.000000
25%           0.000000
50%           0.000000
75%           7.055260
max          82.010714
Name: dist_to_road_ft_2, dtype: float64


dist_to_road_ft_3               float64        9,627    3%    282,400  100%
DESCRIBE --> count    282400.000000
mean          0.696189
std           4.688303
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          81.885664
Name: dist_to_road_ft_3, dtype: float64


dist_to_road_ft_4               float64        1,648    1%    282,400  100%
DESCRIBE --> count    282400.000000
mean          0.152928
std           2.375841
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          81.673755
Name: dist_to_road_ft_4, dtype: float64


frontage_ft_1                   float64      268,482   95%    282,400  100%
DESCRIBE --> count    282400.000000
mean        194.100222
std         407.570175
min           0.000000
25%          85.301840
50%         124.671920
75%         190.288720
max       46902.888640
Name: frontage_ft_1, dtype: float64


frontage_ft_2                   float64       97,037   34%    282,400  100%
DESCRIBE --> count    282400.000000
mean        114.803388
std         478.979987
min           0.000000
25%           0.000000
50%           0.000000
75%          65.616800
max       21811.024320
Name: frontage_ft_2, dtype: float64


frontage_ft_3                   float64       18,962    7%    282,400  100%
DESCRIBE --> count    282400.000000
mean         42.313112
std         344.626821
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max       34553.806880
Name: frontage_ft_3, dtype: float64


frontage_ft_4                   float64        7,204    3%    282,400  100%
DESCRIBE --> count    282400.000000
mean         21.265977
std         255.016033
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max       40616.799200
Name: frontage_ft_4, dtype: float64


geom_aspect_ratio               float64      282,400  100%    282,400  100%
DESCRIBE --> count    282400.000000
mean          2.299798
std           2.722841
min           1.000000
25%           1.028009
50%           1.831698
75%           2.747811
max         777.339698
Name: geom_aspect_ratio, dtype: float64


geom_rectangularity_num         Float64      282,400  100%    282,400  100%
DESCRIBE --> count      282400.0
mean       0.850143
std        0.512202
min     -186.370676
25%        0.826415
50%        0.971163
75%        0.990001
max             1.0
Name: geom_rectangularity_num, dtype: Float64


geom_vertices                    int64       282,391  100%    282,400  100%
DESCRIBE --> count    282400.000000
mean          5.404908
std           1.898249
min           0.000000
25%           5.000000
50%           5.000000
75%           5.000000
max         164.000000
Name: geom_vertices, dtype: float64


land_area_gis_delta_percent     Float64      282,383  100%    282,400  100%
DESCRIBE --> count        282400.0
mean         2.117871
std        603.224692
min         -0.999996
25%         -0.009849
50%         -0.000006
75%          0.010067
max      219290.39002
Name: land_area_gis_delta_percent, dtype: Float64


land_area_gis_delta_sqft        float64      282,383  100%    282,400  100%
DESCRIBE --> count    2.824000e+05
mean     5.620192e+00
std      3.823345e+03
min     -1.213122e+06
25%     -1.051830e+02
50%     -8.203963e-02
75%      1.053516e+02
max      1.096452e+06
Name: land_area_gis_delta_sqft, dtype: float64


land_area_gis_sqft              float64      282,400  100%    282,400  100%
DESCRIBE --> count    2.824000e+05
mean     3.323457e+04
std      2.498599e+05
min      7.390861e-02
25%      6.516948e+03
50%      9.327602e+03
75%      1.364296e+04
max      3.419378e+07
Name: land_area_gis_sqft, dtype: float64


land_area_given_sqft            Float64      282,383  100%    282,400  100%
DESCRIBE --> count           282400.0
mean        33225.037498
std         249864.72071
min                  0.0
25%          6518.424976
50%          9340.952322
75%          13646.95166
max      34197795.466366
Name: land_area_given_sqft, dtype: Float64


land_area_somers_ft             float64      268,482   95%    282,400  100%
DESCRIBE --> count    282400.000000
mean        175.403103
std         440.361905
min           0.000000
25%          72.165357
50%         109.429137
75%         153.248036
max       36828.347635
Name: land_area_somers_ft, dtype: float64


land_area_sqft                  float64      282,400  100%    282,400  100%
DESCRIBE --> count    2.824000e+05
mean     3.322895e+04
std      2.498671e+05
min      5.000000e+00
25%      6.519000e+03
50%      9.341000e+03
75%      1.364800e+04
max      3.419780e+07
Name: land_area_sqft, dtype: float64


land_area_sqft_log              float64      282,400  100%    282,400  100%
DESCRIBE --> count    282400.000000
mean          9.295886
std           0.987213
min           1.609438
25%           8.782476
50%           9.142169
75%           9.521348
max          17.347672
Name: land_area_sqft_log, dtype: float64


latitude                        float64      282,400  100%    282,400  100%
DESCRIBE --> count    282400.000000
mean         38.202454
std           0.060548
min          38.000512
25%          38.157676
50%          38.206209
75%          38.247880
max          38.374004
Name: latitude, dtype: float64


latitude_norm                   float64      282,399  100%    282,400  100%
DESCRIBE --> count    282400.000000
mean          0.540686
std           0.162112
min           0.000000
25%           0.420797
50%           0.550740
75%           0.662313
max           1.000000
Name: latitude_norm, dtype: float64


longitude                       float64      282,400  100%    282,400  100%
DESCRIBE --> count    282400.000000
mean        -85.690513
std           0.111981
min         -85.940386
25%         -85.787155
50%         -85.687067
75%         -85.603166
max         -85.405704
Name: longitude, dtype: float64


longitude_norm                  float64      282,399  100%    282,400  100%
DESCRIBE --> count    282400.000000
mean          0.467329
std           0.209434
min           0.000000
25%           0.286584
50%           0.473774
75%           0.630692
max           1.000000
Name: longitude_norm, dtype: float64


osm_frontage_motorway_ft        float64        1,036    0%    282,400  100%
DESCRIBE --> count    282400.000000
mean          0.838612
std          34.921699
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max        9393.044920
Name: osm_frontage_motorway_ft, dtype: float64


osm_frontage_primary_ft         float64       10,243    4%    282,400  100%
DESCRIBE --> count    282400.000000
mean          8.123994
std          88.088985
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max       17696.850960
Name: osm_frontage_primary_ft, dtype: float64


osm_frontage_residential_ft     float64      231,975   82%    282,400  100%
DESCRIBE --> count    282400.000000
mean        186.739627
std         541.146860
min           0.000000
25%          59.055120
50%         118.110240
75%         170.603680
max       47355.644560
Name: osm_frontage_residential_ft, dtype: float64


osm_frontage_secondary_ft       float64       13,884    5%    282,400  100%
DESCRIBE --> count    282400.000000
mean         12.806173
std         117.361278
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max       16112.205240
Name: osm_frontage_secondary_ft, dtype: float64


osm_frontage_service_ft         float64       60,482   21%    282,400  100%
DESCRIBE --> count    282400.000000
mean        142.138048
std         813.776125
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max       54291.340320
Name: osm_frontage_service_ft, dtype: float64


osm_frontage_tertiary_ft        float64       17,173    6%    282,400  100%
DESCRIBE --> count    282400.000000
mean         16.545425
std         135.799677
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max       15367.454560
Name: osm_frontage_tertiary_ft, dtype: float64


osm_frontage_trunk_ft           float64          643    0%    282,400  100%
DESCRIBE --> count    282400.000000
mean          0.941929
std          34.506854
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max        7421.260080
Name: osm_frontage_trunk_ft, dtype: float64


osm_frontage_unclassified_ft    float64        2,406    1%    282,400  100%
DESCRIBE --> count    282400.000000
mean          3.432428
std          85.195617
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max       19481.627920
Name: osm_frontage_unclassified_ft, dtype: float64


osm_road_angle_1                float64      268,482   95%    268,482   95%
DESCRIBE --> count    268482.000000
mean          0.124702
std           1.770084
min          -3.141252
25%          -1.545424
50%          -0.000999
75%           1.529900
max           3.141457
Name: osm_road_angle_1, dtype: float64


osm_road_angle_2                float64       97,037   34%     97,037   34%
DESCRIBE --> count    97037.000000
mean         0.144482
std          1.664773
min         -3.141418
25%         -1.269600
50%          0.011987
75%          1.468205
max          3.141070
Name: osm_road_angle_2, dtype: float64


osm_road_angle_3                float64       18,962    7%     18,962    7%
DESCRIBE --> count    18962.000000
mean         0.129187
std          1.393874
min         -3.140787
25%         -0.809679
50%          0.024869
75%          1.089174
max          3.141209
Name: osm_road_angle_3, dtype: float64


osm_road_angle_4                float64        7,204    3%      7,204    3%
DESCRIBE --> count    7204.000000
mean        0.080900
std         1.104658
min        -3.133995
25%        -0.571590
50%         0.019147
75%         0.741702
max         3.139843
Name: osm_road_angle_4, dtype: float64


osm_total_frontage_ft           float64      268,482   95%    282,400  100%
DESCRIBE --> count    282400.000000
mean        372.482699
std        1119.896397
min           0.000000
25%         104.986880
50%         137.795280
75%         249.343840
max       57683.728880
Name: osm_total_frontage_ft, dtype: float64


polar_angle                     float64      282,400  100%    282,400  100%
DESCRIBE --> count    282400.000000
mean         12.837993
std           0.925908
min          10.099700
25%          12.162471
50%          12.922436
75%          13.567115
max          15.382840
Name: polar_angle, dtype: float64


polar_radius                    float64      282,400  100%    282,400  100%
DESCRIBE --> count    282400.000000
mean     382083.047255
std       10159.392672
min      356083.278740
25%      374036.998091
50%      382120.203490
75%      389911.339984
max      407789.309898
Name: polar_radius, dtype: float64


------------------------------ ---------- ---------- ----- ---------- ----- ----------------------------------------
           BOOLEAN
------------------------------ ---------- ---------- ----- ---------- ----- ----------------------------------------
is_geom_complex                   bool         3,084    1%    282,400  100%                            [False, True]
is_geom_elongated                 bool        17,816    6%    282,400  100%                            [False, True]
is_geom_irregular                 bool        21,706    8%    282,400  100%                            [False, True]
is_geom_triangular                bool         1,071    0%    282,400  100%                            [False, True]
is_vacant                         bool        45,917   16%    282,400  100%                            [False, True]
------------------------------ ---------- ---------- ----- ---------- ----- ----------------------------------------
         CATEGORICAL
------------------------------ ---------- ---------- ----- ---------- ----- ----------------------------------------
land_class                       string      282,400  100%    282,400  100%                                       50
VALUE COUNTS --> land_class
Res 1 Family Dwelling             229953
Res Vacant Land                     9699
Exempt Metro Government             5194
Apartments                          3997
Com Retail                          3328
Res 2 Family Dwelling Duplex        3032
Com Office                          2582
Exempt Open Space                   2321
Com Vacant Land                     2174
Exempt Religious                    2033
Industrial Warehouse                1863
Exempt Other                        1831
Exempt State Gov't                  1763
Com Warehouse                       1259
Com Auto Services                   1257
Com Restaurant                      1203
Manufacturing                        920
Exempt Education                     854
Com Tri-Plex Apartment               847
Com Medical Clinic/Offices           759
Res Condo 51 or More Units           696
Outbuildings                         658
Agricultural With Dwelling           506
Agricultural Vacant Land             489
Utility Industrial                   441
Exempt Local Gov't                   437
Com Entertainment                    343
Com Non-Exempt Schools               305
Com Paving, Fencing, Yard Item       287
Sec. 42 Tax Incentive                247
Com Parking Facilities               190
Com Motels/Hotels                    156
Utility Commercial                   119
Com Section 42 Spec Assess           118
Com Hospitals/Nursing Homes           93
Exempt Parking                        76
Exempt Right of Way                   75
Industrial Office                     61
Telecom Companies                     56
Com Mobile Home Parks                 37
Res Condo Land and Amenities          34
Exempt Federal Gov't                  30
Com Cell Tower                        19
Mixed Use Res and Comm                15
Res Patio/Condos                      13
Com Condo Land and Amenities          10
Mobile Home With Land                  8
Com Condos                             6
Com Short Term Rental                  5
REMF Voids (Don't Use)                 1
Name: count, dtype: Int64


neighborhood                     string      199,752   71%    199,752   71%                                      162
VALUE COUNTS --> neighborhood
PLEASURE RIDGE PARK    11129
JEFFERSONTOWN           9517
VALLEY STATION          8954
NEWBURG                 7064
HIGHVIEW                6803
                       ...
MEADOWVIEW ESTATES        52
MEADOWBROOK FARM          48
POPLAR HILLS               9
SOUTH PARK VIEW            3
SYCAMORE                   1
Name: count, Length: 161, dtype: Int64


osm_road_face_1                  object      268,482   95%    268,482   95%                                        9
VALUE COUNTS --> osm_road_face_1
SE    40346
NW    39256
SW    37639
NE    33190
W     31074
S     30958
E     29697
N     26322
Name: count, dtype: int64


osm_road_face_2                  object       97,037   34%     97,037   34%                                        9
VALUE COUNTS --> osm_road_face_2
SE    16719
SW    16162
NW    13554
S     12577
W     11405
NE    10301
E      9158
N      7161
Name: count, dtype: int64


osm_road_face_3                  object       18,962    7%     18,962    7%                                        9
VALUE COUNTS --> osm_road_face_3
SW    4440
S     4005
SE    3243
W     2399
NW    1622
NE    1368
E     1062
N      823
Name: count, dtype: int64


osm_road_face_4                  object        7,204    3%      7,204    3%                                        9
VALUE COUNTS --> osm_road_face_4
SW    2069
S     1952
SE    1309
W      998
NW     279
NE     216
E      197
N      184
Name: count, dtype: int64


osm_road_name_1                  object      268,482   95%    268,482   95%                                   12,862
VALUE COUNTS --> osm_road_name_1
Dixie Highway           1178
South 3rd Street         864
Bardstown Road           751
Taylorsville Road        685
West Market Street       616
                        ...
Indian Legends Drive       1
942450359                  1
885828331                  1
762184910                  1
747280794                  1
Name: count, Length: 12861, dtype: int64


osm_road_name_2                  object       97,037   34%     97,037   34%                                   23,192
VALUE COUNTS --> osm_road_name_2
Stone Alley        229
Duncan Street      207
Pirtle Street      192
Rowan Street       191
Magazine Street    184
                  ...
Bradbury Avenue      1
736229894            1
806372259            1
806372260            1
807966323            1
Name: count, Length: 23191, dtype: int64


osm_road_name_3                  object       18,962    7%     18,962    7%                                   12,543
VALUE COUNTS --> osm_road_name_3
51378013                  45
[466722729, 465771385]    36
152675192                 26
Bearcamp Road             21
South 4th Street          21
                          ..
369785004                  1

## 4.3 Look at it on a map

- Go to your `out/look/` folder
- There should be parquets there
- Drop them into ArcGIS, QGIS, or Felt
- Look at your location fields and make sure they make sense

# 5. Tag modeling groups
- Separates rows into groups like "single family", "townhomes" and "commercial" as specified by the user
- These groups will guide all further processing

In [198]:
sales_univ_pair = from_checkpoint("1-assemble-04-tag_modeling_groups", tag_model_groups_sup,
    {
        "sup": sales_univ_pair, 
        "settings": load_settings(), 
        "verbose": verbose
    }
)

Len univ before = 282400
Len sales before = 237834 after = 237834
Overall
--> 282,400 parcels
--> 237,834 sales

KeyError: 'bldg_desc'

# 6. Write out results

In [ ]:
write_notebook_output_sup(
    sales_univ_pair, 
    "1-assemble", 
    parquet=True, 
    gpkg=False, 
    shp=False
)

# 7. Look at it on a map!
- Take the files output in the previous step and put them in a map viewer like QGIS, ArcGIS, or Felt
- Look at them with your eyeballs
- Make sure the data looks correct
- If not, go back and fix it!
- Don't proceed to the next step until everything looks right